@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fff8e1;
    color: #4a2000;
    font-family: "Poppins", sans-serif;
}

/* Header and Navigation */
header{
    background-color: #d32f2f;
    width: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 10;
}

header .logo{
    width: auto;
    margin: 10px 10px 10px 50px;
} 

nav {
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    font-family: "Playfair Display", serif;
    color: #fff3e0;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover {
    transition: 0.2s;
    color: #ffb300;
}
.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    z-index: 10;
}
#check {
    display: none;
}

header .hbtn{
    width: 100%;
}

header button{
    background-color:#ffb300;
    border: none;
    width: 100px;
    height: 35px;
    font-size: 0.9em;
}

/* Homepage */

.homeb{
    justify-items: center;
    background-color: #EEEF20;
}

.Home h1{
    color: #d84315;
    font-family: "Playfair Display", serif;
}

.Home{
    justify-items: center;
    padding-top: 7%;
    font-size: 2em;
}

.bir{
    display: flex;
    justify-items: center;
}

#cont{
    width: 100%;
}

#cont img{
    width: 100%;
}

#cont2{
    padding-top: 30px;
    width: 100%;
}

#cont2 p{
    padding: 10px 15px 0px 0px ;
    font-size: 0.8em;
}

.order{
    display: flex;
    padding-top: 4%;
    justify-content: center;
}

#cont2 button{
    width: 150px;
    height: 50px;
    font-size: 0.6em;
    background-color: #d84315;
}

.Home a{
    text-decoration: none;
    color: #4a2000;

}
/* Menu Page */

.Menu{
    padding: 5%;
    display: block;
    font-size: 1.5em;
    color: #4a2000;
    justify-items: center;
    background-color:#FFFF3F;
}

.Menu h1{
    font-family: "Playfair Display", serif;
}

figcaption{
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
}

.photo{
    transition-duration: 0.15s;
}

.photo:hover{
    transform: scale(1.1);
}

.cards img{
    width: 280px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.cards .row{
    gap: 30px;
    display: flex;
    margin-top: 2%;
}

.Menu h1{
    font-size: 2em;
}
/* Reservation Page */

.reser{
    justify-items: center;
    padding: 4%;
    color: #4a2000;
    background-color: #EEEF20;
}

.reser h1{
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
}

.reser .bookings{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
}

.reser input{
    width: 170px;
    height: 30px;
}

.reser button{
    font-size: 0.9em;
    color: white;
    border: none;
    background-color: #d32f2f;
    width: 70px;
    height: 30px;
}

.reser h2{
    font-family:"Playfair Display", serif;
    padding-top:1.5%;
}

.reser img{
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);

}

.reser p{
    margin-top: 20px;
    padding: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 1.25em;
    line-height: 40px;
}

.reservation{
    padding-top: 2%;
}

/* About Us */

.aboutus{
    justify-items: center;
    color: #4a2000;
    padding:3.5%;
    background-color: #FFFF3F;
}

.aboutus h1{
    font-family: "Playfair Display", serif;
    padding-top: 3%;
}

.aboutus p{
    padding: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 1.25em;
    line-height: 40px;
}

/* Contact Us */

.contactus{
    background-color: #EEEF20;
    font-size: 1.2em;
    padding: 4%;
    line-height: 40px;
    justify-items: center;
}

.address{
    font-family: "Poppins", sans-serif;
}

.contactus h1{
    font-family: "Playfair Display", serif;
}

.contactus b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form{
    line-height: 60px;
    width: 50%;
}

#form button{
    width: 100px;
    height: 40px;
    font-size: 1em;
}

#btn{
    padding-top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #ffb300;
    border:none;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
    font-family: "Poppins", sans-serif;
    border-radius: 10PX;
    transition-duration: 0.2s;
}

button:hover{
    transform: scale(1.1);
}

#form input{
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
    height: 40px;
    font-size: 1em;
}

#form input::placeholder{
    text-align: center;
}

footer {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.footer-info, .footer-links, .footer-social {
    margin: 10px 0;
}

.footer-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a{
    text-decoration: none;
    color: white;
}

.footer-social a img {
    width: 30px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.footer-social a img:hover {
    transform: scale(1.1);
}

.footer-credit {
    font-size: 0.9em;
    opacity: 0.7;
}
.credit{
    font-size: 0.7em;
}

@media(max-width:1440px){

    nav ul li a{
        font-size: 1em;
    }

    .bir h2,h1{
        font-size: 1.5em;
    }

    #cont2 p{
        font-size: 0.7em;
    }

    #cont2 button{
        width: 145px;
        height: 48px;
        font-size: 0.55em;
    }

    .reser p{
        font-size:1.15em;
        line-height: 35px;
    }

    .aboutus p{
        font-size: 1.15em;
        line-height: 35px;
    }

    .contactus p{
        font-size: 1.15em;
        line-height: 40px;
    }
}

@media(max-width:1250px){

    .cards img{
        width: 235px;
        height: 235px;
    }

}

@media(max-width:1075px){

    #cont2 p{
        font-size: 0.65em;
    }

    nav ul li a{
        font-size: 0.9em;
    }

    .cards img{
        width: 220px;
        height: 220px;
    }

    figcaption{
        font-size: 0.8em;
    }

    .reser p{
        font-size: 1.1em;
        line-height: 30px;
    }

    .aboutus p{
        font-size: 1.1em;
        line-height: 30px;
    }

    .contactus{
        font-size: 1em;
        line-height: 53px;
    }

}
@media(max-width:1000px){
    nav ul li a{
        font-size: 0.8em;
    }

    .bir h1,h2{
        font-size: 1.35em;
    }

    #cont2 p{
        font-size: 0.625em;
    }

    .reser p{
        font-size: 1em;
        line-height: 27px;
    }
    .aboutus p{
        font-size: 1em;
        line-height: 27px;
    }
    .contactus{
        font-size: 0.9em;
        line-height: 45px;
    }
    header button{
        width: 80px;
        height: 38px;
        font-size: 0.8em;
    }
    .Menu h1{
        font-size: 1.8em;
    }
    .Menu{
        font-size: 1.3em;
    }
    .cards img{
        width: 190px;
        height: 190px;
    }
}
@media(max-width:900px){

    .logo img{
        width: 50px;
        height: 50px;
    }

    .bir h1,h2{
        font-size: 1.35em;
    }

    #cont2 p{
        font-size: 0.61em;
    }

    .reser p{
        font-size: 0.9em;
        line-height: 25px;
    }

    .aboutus p{
        font-size: 0.9em;
        line-height: 25px;
    }

    .contactus{
        font-size: 0.85em;
        line-height: 40px;
    }

    #form{
        line-height: 50px;
    }

    #form input{
        height: 36px;
    }

    #form button{
        width: 60px;
        height: 30px;
        font-size: 0.77em;
    }

    header button{
        width: 78px;
        height: 35px;
        font-size: 0.77em;
    }
    .Menu h1{
        font-size: 1.8em;
    }
    .Menu{
        font-size: 1.3em;
    }
    .cards img{
        width: 165px;
        height: 165px;
    }

    .footer-info h2 {
        font-size: 1.2em;
    }

    .footer-social a img {
        width: 22.5px;
    }
    
    .footer-credit {
        font-size: 0.825em;
    }

    .credit{
        font-size: 0.58em;
    }

}

@media(max-width:850px){

    .bir h1,h2{
        font-size: 1.31em;
    }

    #cont2 p{
        font-size: 0.58em;
    }

    figcaption{
        font-size:0.7em;
    }

    .reser h1{
        font-size: 2.1em;
    }

    .reser h2{
        font-size: 1.2em;
    }
    .reser p{
        font-size: 0.8em;
        line-height: 22.5px;
    }

    .aboutus p{
        font-size: 0.8em;
        line-height: 22.5px;
    }

    .contactus{
        font-size: 0.7em;
        line-height: 37.5px;
    }

    #form input{
        height: 32px;
    }

    header button{
        width: 78px;
        height: 35px;
        font-size: 0.77em;
    }
    .Menu h1{
        font-size: 1.8em;
    }

    .cards img{
        width: 165px;
        height: 165px;
    }

    .footer-info h2 {
        font-size: 1.1em;
    }

    .footer-social a img {
        width: 21px;
    }
    
    .footer-credit {
        font-size: 0.82em;
    }

    .credit{
        font-size: 0.53em;
    }

    .bookings label{
        font-size: 0.9em;
    }

    .bookings button{
        width: 65px;
        height: 27px;       
    }

    .bookings input{
        width: 160px;
        height: 25px;
    }

}

@media(max-width:790px){

    nav ul li a{
        font-size: 0.8em;
    }

    .bir h1,h2{
        font-size: 1.25em;
    }

    #cont2 p{
        font-size: 0.52em;
    }

    #cont2 button{
        width: 120px;
        height: 42px;
        font-size: 0.5em;
    }

    .cards img{
        width: 130px;
        height: 130px;
    }

    figcaption{
        font-size:0.5em;
    }

    .reser h1{
        font-size: 2em;
    }

    .reser h2{
        font-size: 1.15em;
    }
    .reser p{
        font-size: 0.77em;
        line-height: 21px;
    }

    .aboutus p{
        font-size: 0.77em;
        line-height: 21px;
    }

    .contactus{
        font-size: 0.6em;
        line-height: 25px;
    }

    #form button{
        width: 85px;
        height: 25px;
    }
}

@media(max-width:705px){

    nav ul li a{
        font-size: 0.7em;
    }

    header button{
        width: 70px;
        height: 30px;
        font-size: 0.5em;
    }

    .bir h1,h2{
        font-size: 1.2em;
    }

    #cont2 p{
        font-size: 0.45em;
    }

    #cont2 button{
        width: 110px;
        height: 40px;
        font-size: 0.5em;
    }

    .reser h1{
        font-size: 1.9em;
    }

    .reser h2{
        font-size: 1.1em;
    }
    .reser p{
        font-size: 0.75em;
        line-height: 20.5px;
    }

    .aboutus p{
        font-size: 0.75em;
        line-height: 20.5px;
    }

    .contactus{
        font-size: 0.58em;
        line-height: 24.5px;
    }
}
@media(max-width:650px){

    .logo img{
        width: 35px;
        height: 35px;
    }
    header button{
        width: 67px;
        height: 27px;
        font-size: 0.47em;
    }
    .bir h2{
        font-size: 1.1em;
    }

    .bir h1{
        font-size: 1.1em;
    }

    #cont2 p{
        font-size: 0.35em;
    }

    #cont2 button{
        width: 80px;
        height: 25px;
        font-size: 0.35em;
    }

    .Menu h1{
        font-size: 1.5em;
    }

    .cards img{
        width: 120px;
        height: 120px;
    }
    .reser h1{
        font-size: 1.5em;
    }

    .reser h2{
        font-size: 1em;
    }
    .reser p{
        font-size: 0.6em;
        line-height: 16px;
    }

    .bookings label{
        font-size: 0.65em;
    }

    .bookings button{
        font-size: 0.5em;
        width: 50px;
        height: 20px;       
    }

    .bookings input{
        width: 120px;
        height: 20px;
    }

    .aboutus h1{
        font-size: 1.5em;
    }

    .aboutus p{
        font-size: 0.6em;
        line-height: 16px;
    }

    .contactus{
        font-size: 0.5em;
        line-height: 20px;
    }

    .contactus p{
        font-size: 1em;
        line-height: 20px;
    }

    #form{
        line-height: 40px;
    }

    #form input{
        height: 25px;
    }

    #form button{
        width: 45px;
        height: 20px;
        font-size: 0.77em;
    }

    .footer-social a img {
        width: 17px;
    }
    
    .footer-credit {
        font-size: 0.8em;
    }

    .footer-info p{
        font-size: 0.8em;
    }

    .footer-links a{
        font-size: 0.8em;
    }

    .credit{
        font-size: 0.45em;
    }

}

@media(max-width:600px){

    header{
        height: 5%;
    }
    .logo img{
        width: 32px;
        height: 32px;
    }
    header button{
        width: 65px;
        height: 25px;
        font-size: 0.43em;
    }
    .bir h2{
        font-size: 0.8em;
    }

    .bir h1{
        font-size: 0.9em;
    }

    #cont2 p{
        font-size: 0.3em;
    }

    #cont2 button{
        width: 75px;
        height: 20px;
        font-size: 0.32em;
    }

    .Menu h1{
        font-size: 1.2em;
    }

    .cards img{
        width: 100px;
        height: 100px;
    }
    .reser h1{
        font-size: 1.2em;
    }

    .reser h2{
        font-size: 0.9em;
    }
    .reser p{
        font-size: 0.5em;
        line-height: 12px;
    }

    .bookings label{
        font-size: 0.6em;
    }

    .bookings button{
        font-size: 0.3em;
        width: 40px;
        height: 12px;       
    }

    .bookings input{
        font-size: 0.5em;
        width: 100px;
        height: 15px;
    }

    .aboutus h1{
        font-size: 1.2em;
    }

    .aboutus p{
        font-size: 0.5em;
        line-height: 12px;
    }

    .contactus{
        font-size: 0.45em;
        line-height: 16px;
    }

    .contactus p{
        font-size: 0.9em;
        line-height: 16px;
    }

    #form{
        line-height: 34px;
    }

    #form input{
        height: 21px;
    }

    #form button{
        width: 41px;
        height: 16px;
        font-size: 0.7em;
    }

    .footer-social a img {
        width: 14px;
    }
    
    .footer-credit {
        font-size: 0.7em;
    }

    .footer-info p{
        font-size: 0.7em;
    }

    .footer-links a{
        font-size: 0.7em;
    }

    .credit{
        font-size: 0.4em;
    }

    .checkbtn {
        display: block;
      }
      nav ul {
        position: fixed;
        width: 100%;
        height: 100 vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li {
        display: block;
        margin: 45px 0;
        line-height: 22px;
      }
      nav ul li a {
        font-size: 16px;
      }
      a:hover{
        background: none;
        color: #ffb300;
      }
      #check:checked~ul {
        left: 0;
      }
}
@media(max-width:500px){
    .logo img{
        width: 30px;
        height: 30px;
    }
    header button{
        width: 55px;
        height: 20px;
        font-size: 0.4em;
    }
    .bir h2{
        font-size: 0.7em;
    }

    .bir h1{
        font-size: 0.8em;
    }

    #cont2 p{
        font-size: 0.25em;
    }

    #cont2 button{
        width: 65px;
        height: 15px;
        font-size: 0.3em;
    }

    .Menu h1{
        font-size: 1em;
    }

    .cards img{
        width: 75px;
        height: 75px;
    }

    figcaption{
        font-size:0.38em;
    }
    .reser h1{
        font-size: 1em;
    }

    .reser h2{
        font-size: 0.8em;
    }
    .reser p{
        font-size: 0.4em;
        line-height: 10px;
    }

    .bookings label{
        font-size: 0.5em;
    }

    .bookings button{
        font-size: 0.22em;
        width: 30px;
        height: 9px;       
    }

    .bookings input{
        font-size: 0.45em;
        width: 90px;
        height: 11px;
    }

    .aboutus h1{
        font-size: 1em;
    }

    .aboutus p{
        font-size: 0.4em;
        line-height: 10px;
    }

    .contactus{
        font-size: 0.4em;
        line-height: 12px;
    }

    .contactus p{
        font-size: 0.8em;
        line-height: 12px;
    }

    #form{
        line-height: 30px;
    }

    #form input{
        height: 17px;
    }

    #form button{
        width: 37px;
        height: 12px;
        font-size :0.6em;
    }

    .footer-social a img {
        width: 12px;
    }
    
    .footer-credit {
        font-size: 0.6em;
    }

    .footer-info p{
        font-size: 0.6em;
    }

    .footer-links a{
        font-size: 0.6em;
    }

    .credit{
        font-size: 0.35em;
    }

}

@media(max-width:400px){
    .logo img{
        width: 26px;
        height: 26px;
    }
    header button{
        width: 45px;
        height: 15px;
        font-size: 0.3em;
    }
    .bir h2{
        font-size: 0.6em;
    }

    .bir h1{
        font-size: 0.7em;
    }

    #cont2 p{
        font-size: 0.2em;
    }

    #cont2 button{
        width: 55px;
        height: 10px;
        font-size: 0.25em;
    }

    .Menu h1{
        font-size: 0.9em;
    }

    .cards img{
        width: 70px;
        height: 70px;
    }

    figcaption{
        font-size:0.33em;
    }
    .reser h1{
        font-size: 0.9em;
    }

    .reser h2{
        font-size: 0.7em;
    }
    .reser p{
        font-size: 0.35em;
        line-height: 7px;
    }

    .bookings label{
        font-size: 0.4em;
    }

    .bookings button{
        font-size: 0.2em;
        width: 26px;
        height: 7px;       
    }

    .bookings input{
        font-size: 0.4em;
        width: 80px;
        height: 7px;
    }

    .aboutus h1{
        font-size: 0.9em;
    }

    .aboutus p{
        font-size: 0.35em;
        line-height: 7px;
    }

    .contactus{
        font-size: 0.35em;
        line-height: 9px;
    }

    .contactus p{
        font-size: 0.7em;
        line-height: 9px;
    }

    #form{
        line-height: 26px;
    }

    #form input{
        height: 13px;
    }

    #form button{
        width: 37px;
        height: 9px;
        font-size :0.5em;
    }

    .footer-social a img {
        width: 10px;
    }
    
    .footer-credit {
        font-size: 0.5em;
    }

    .footer-info p{
        font-size: 0.5em;
    }

    .footer-links a{
        font-size: 0.5em;
    }

    .credit{
        font-size: 0.3em;
    }
}
@media(max-width:320px){
    .logo img{
        width: 26px;
        height: 26px;
    }
    header button{
        width: 45px;
        height: 15px;
        font-size: 0.3em;
    }
    .bir h2{
        font-size: 0.5em;
    }

    .bir h1{
        font-size: 0.6em;
    }

    #cont2 p{
        font-size: 0.15em;
    }

    #cont2 button{
        width: 45px;
        height: 10px;
        font-size: 0.2em;
    }

    .cards img{
        width: 50px;
        height: 50px;
    }
    figcaption{
        font-size:5.5px;
    }
}
